.form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form input {
  padding: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background: royalblue;
  color: white;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

td button {
  margin-right: 5px;
}
